<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Owner/workspace/learningautomation/src/main/java/org/learning/com/ctest1.java">
        <groups>
            <run>
                <include name="FunctionalTest"/>
            </run>
        </groups>
        <classes>
            <class name="org.learning.com.ctest1"/>
            <class name="org.learning.com.ctest2"/>
            <class name="org.learning.com.ctest3"/>
        </classes>
    </test>
</suite>